*{
    margin: 0;
    padding: 0;
}
body{
  overflow-x: hidden ;
}

.hero{
    position: relative;
}
.bg{
    width: 100%;
    background:url(l.png);
    background-position: 100% center;
    background-size: cover;
	padding: 100px 0;
	margin: 0 auto;
}

nav{
    display: inline-flex;
    width: 95%;
    padding: 10px;
    align-items: top;
    justify-content: space-between;
    position: relative;
}
nav img {
  position: static;
  max-width: 25%;
  margin-left: 5%;
  margin-top: 0%;
  margin-bottom: 2%;
}

nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 50px 40px;
    margin-bottom: 0;
    position: static;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: static;
}

nav ul li a:hover{
    color: rgb(135, 102, 53);
    position: static;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;    
    position: static;
}
.detel img{
    max-width: 50%;
    margin-bottom: -5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -13%;
    margin-left: -5%;
    position: static;
}

.detel p{
    color:rgb(0, 0, 0);
    text-shadow: #53350c;
    line-height: 22px;
    margin-top: -3%;
    margin-left: -2%;
    margin-right: 8%;
    padding: 10px;
    background-color: #ffffff79;
    position: static;
    border-radius: 2px;
    text-align: justify;
}

		
.navbar img{
    max-width: 5%;
    border-radius: 10px;
    position: static;
}

.navbar ul li {
    display: inline;
    gap:15;
    position: inherit;
}

.social-buttons {
    display: flex;
    gap: 50px;
    margin-bottom: 2%;
    margin-left: 6.5%;
    margin-top: 4%;
    position: static;
  }
  
  .btn {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 150px;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s;
    position: static;
  }
  
  .btn:hover {
    transform: translateY(-3px);
  }
  
  .facebook {
    background: #ad7958;
  }
  
  .facebook:hover {
    background: #ad7958;
  }
  
  .tiktok {
    background: #5f3506;
  }
  
  .tiktok:hover {
    background: #5f3506;
  }
  
  .instagram {
    background: linear-gradient(45deg, #f0d9a0, #53350c, #b87d39);
  }
  
  .instagram:hover {
    background: linear-gradient(45deg, #f0d9a0, #53350c, #b87d39);
  }

.future video{
  align-items: center;
  align-content: center;
  max-width: 57%;
  margin-left: 21.5%;
  position: static;
  border-radius: 0%;
}

.future1 h1{
  background-color: #a4904ee4;
}
.future1 img{
  align-items: center;
  align-content: center;
  margin-bottom: 0;
  position: static;
  max-width: 50%;
  margin-left: 25%;

}

.bg2{
  width: 100%;
  height: 105vh;
  background:url(bg.png);
  background-position: 97% center;
  background-size: auto;
  align-content: center;
  align-items: center;
  height: 114vh;
  position: relative;
}
/*bg blog*/

.output img{
  max-width: 50%;
  align-content: center;
  position: absolute;
  margin-left: 25%;
  margin-top: 5%;
}

.output {
  align-content: center;
}


/*background 3*/

.bg3{
  width: 100%;
  height: 100vh;
  background:url(3.png);
  background-position: 100% center;
  background-size: cover;
  height: 109vh;
  position: static;
}
/* footer*/
footer{
  align-content: center;
  text-align: center;
  font-size: 2mm;
  color: rgba(255, 255, 255, 0.758);
  background-color: #4f2600;
  font-family: serif;
  padding: 1%;
}
/*card blog content */

.card{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 20%;
  margin-top: 5%;
  max-width: 100%;
  padding: 1%;
  background-color: #372100;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cardb{
  width: 100%;
  height: 100%;
  top: 0%;
  right: -102%;
  position: absolute;
  background: #f0d9a06b;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #4f2600;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title{
  text-transform: uppercase;
  font-size: 5%;
  font-weight: 500;
  margin-left: 5%;
}
.card-sub{
  text-transform: capitalize;
  flex-direction: 12px;
  font-weight: 300;
  margin-left: 5%;
}
.card-info{
  font-size: 12px;
  line-height: 20px;
  margin: 40px 0;
  font-weight: 400;
  margin-left: 5%;
}
.card:hover .cardb{
  right: 0;
}

/*bg4*/
.bg44{
  background-color: #f5e2ba;
}

.bg4{
  width: 100%;
  min-height: 190vh;
  background: url(doodles.png);
  background-position: 100% center;
  background-size: cover;
  height: 109vh;
  position: static;

}

/*card blog content 1*/

.card1{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 60%;
  margin-top: -23.7%;
  max-width: 100%;
  padding: 1%;
  background-color: #372100;
}

.card1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cardb1{
  width: 100%;
  height: 100%;
  top: 0%;
  right: -102%;
  position: absolute;
  background: #f0d9a06b;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #4f2600;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title1{
  text-transform: uppercase;
  font-size: 5%;
  font-weight: 500;
  margin-left: 5%;
}
.card-sub1{
  text-transform: capitalize;
  flex-direction: 12px;
  font-weight: 300;
  margin-left: 5%;
}
.card-info1{
  font-size: 12px;
  line-height: 20px;
  margin: 40px 0;
  font-weight: 400;
  margin-left: 5%;
}
.card1:hover .cardb1{
  right: 0;
}

/*card blog content 2 */

.card2{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 20%;
  margin-top: 5%;
  max-width: 100%;
  padding: 1%;
  background-color: #372100;
}

.card2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cardb2{
  width: 100%;
  height: 100%;
  top: 0%;
  right: -102%;
  position: absolute;
  background: #f0d9a06b;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #4f2600;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title2{
  text-transform: uppercase;
  font-size: 5%;
  font-weight: 500;
  margin-left: 5%;
}
.card-sub2{
  text-transform: capitalize;
  flex-direction: 12px;
  font-weight: 300;
  margin-left: 5%;
}
.card-info2{
  font-size: 12px;
  line-height: 20px;
  margin: 40px 0;
  font-weight: 400;
  margin-left: 5%;
}
.card2:hover .cardb2{
  right: 0;
}

/*card blog content 3*/

.card3{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 60%;
  margin-top: -23.7%;
  max-width: 100%;
  padding: 1%;
  background-color: #372100;
}

.card3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cardb3{
  width: 100%;
  height: 100%;
  top: 0%;
  right: -102%;
  position: absolute;
  background: #f0d9a06b;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #4f2600;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title3{
  text-transform: uppercase;
  font-size: 5%;
  font-weight: 500;
  margin-left: 5%;
}
.card-sub3{
  text-transform: capitalize;
  flex-direction: 12px;
  font-weight: 300;
  margin-left: 5%;
}
.card-info3{
  font-size: 12px;
  line-height: 20px;
  margin: 40px 0;
  font-weight: 400;
  margin-left: 5%;
}
.card3:hover .cardb3{
  right: 0;
}

/*card blog content 4 */

.card4{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 20%;
  margin-top: 5%;
  max-width: 100%;
  padding: 1%;
  background-color: #372100;
}

.card4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cardb4{
  width: 100%;
  height: 100%;
  top: 0%;
  right: -102%;
  position: absolute;
  background: #f0d9a06b;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #4f2600;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title4{
  text-transform: uppercase;
  font-size: 5%;
  font-weight: 500;
  margin-left: 5%;
}
.card-sub4{
  text-transform: capitalize;
  flex-direction: 12px;
  font-weight: 300;
  margin-left: 5%;
}
.card-info4{
  font-size: 12px;
  line-height: 20px;
  margin: 40px 0;
  font-weight: 400;
  margin-left: 5%;
}
.card4:hover .cardb4{
  right: 0;
}

/*card blog content 5*/

.card5{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 60%;
  margin-top: -23.7%;
  max-width: 100%;
  padding: 1%;
  background-color: #372100;
}

.card5 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cardb5{
  width: 100%;
  height: 100%;
  top: 0%;
  right: -102%;
  position: absolute;
  background: #f0d9a06b;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #4f2600;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title5{
  text-transform: uppercase;
  font-size: 5%;
  font-weight: 500;
  margin-left: 5%;
}
.card-sub5{
  text-transform: capitalize;
  flex-direction: 12px;
  font-weight: 300;
  margin-left: 5%;
}
.card-info5{
  font-size: 12px;
  line-height: 20px;
  margin: 40px 0;
  font-weight: 400;
  margin-left: 5%;
}
.card5:hover .cardb5{
  right: 0;
}

/*background 4*/

.bg5{
  width: 100%;
  height: 100vh;
  background:url(4.png);
  background-position: 100% center;
  background-size: cover;
  height: 109vh;
  position: static;
}

/*text image flex*/

.flex img{
  max-width: 50%;
  align-content: center;
  position: static;
  margin-left: 25%;
  margin-top: 5%;
}


.flex {
  align-content: center;
}

.flex-content{
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  background-size: cover;
  margin-top: -15%;
  margin-bottom: 10%;
}
.container{
  display: flex;
}
.flex-card{
  height: 200px;
  margin: 50px;
  box-shadow: black 5px 5px 5px;
  overflow: hidden;
}

.flex1{
  height:200px;
  width: 350px;
  border-radius: 5px;
  object-fit: cover;
  background-size: contain;
}
.flex-intro{
  height: 200px;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;

  text-align: center;
}

.polariod{
  margin-top: 15%;
  background-color: #b0b0b0;
}

